## .gitignore ##
.DS_Store
.vagrant
Gemfile
Gemfile.lock
Rakefile
Vagrantfile.sample
Vagrantfile.theme-review
provision/packaging.sh
spec
.rspec
provision
node_modules
.sass-cache
www/wordpress/wp-admin/*
www/wordpress/wp-includes/*
www/wordpress/*
!www/wordpress/wp-config.php
!www/wordpress/wp-content/themes/thesixthlie/*
!www/wordpress/wp-content/uploads/*
www/wordpress/wp-content/*