/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/



/*********************
GENERAL STYLES
*********************/

body {
	&::before {
		// background: url(../images/bg1.jpg) no-repeat left top;
		background: url(../images/bg1-pc.png) no-repeat left top;
		background-size: cover;
	}
	color: $text-pc-color;
}

#inner-content {
	padding-top: 50px;
	width: 95%;
}
#inner-content-top {
	padding-top: 0px;
}
#main {
	// width: 70%;
	article {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
	.chapter-title, .back-to {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
	.chapter-title, .chapter-content, .entry-content {
		color: $text-pc-color
	}
	.chapter-title, .title-circle {
		border-color: $border-pc-color;
	}
	input, input:active, input:focus, textarea, textarea:active, textarea:focus, select, select:active, select:focus {
		border-color: $border-pc-color;
		color: $text-pc-color;
		&::-webkit-input-placeholder {
			color: $placeholder-color;
		}
		&:-ms-input-placeholder {
			color: $placeholder-color;
		}
		&::-moz-placeholder {
			color: $placeholder-color;
		}
	}
	.hentry {
		border-color: $border-pc-color;
	}
	table, tr, td, th {
		border-color: $border-pc-color;
	}
}
#more a, #more a:active, #more a:hover, #more a:link, #more a:visited {
    color: $text-pc-color;
    border-color: $border-pc-color;
}

.topnews .entry-content img {
	width: 40%;
}
.news-thumb-wrapper {
	text-align: center;
}


/*********************
LAYOUT & GRID STYLES
*********************/


/*********************
HEADER STYLES
*********************/

.header {
	position: static;
	top: 0px;
	left: 0px;
	background-color: black(0.7);
	z-index: 5;
}
.top-header {
	position: absolute;
	background-color: transparent;
	text-align: left;
	top: 10px;
	left: 10px;
}

#logo {
		width: 200px;
	}

.acf-map {
	height: 400px;
}

/*********************
NAVIGATION STYLES
*********************/


.nav {
	border: 0;
	ul {
		margin-top:0;
		float: left;
		position: relative;
		left: 12%;
		
	}
	li {
		float: left;
		position: relative;
		


		a {
			border-bottom: 0;
			-webkit-transition: all 0.3s ease-in-out;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				color: $white;
				letter-spacing: 2px;
				&::after {
  		    transform: scaleX(1);
  		  }
			}
			&::after {
  		  content: '';
  		  position: absolute;
  		  bottom: 10px;
  		  left: 0;
  		  width: 100%;
  		  height: 1px;
  		  transform: scaleX(0);
  		  background-color: $theme-color;
  		  transition: all 0.5s ease;
  		}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			visibility: hidden;
			z-index: 8999;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {
					top:0;
					left:100%;
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */

}
.top-nav-before {
	ul {
		margin-top: 25px;
		float: left;
		position: relative;
		left: 0px;
	}
	li {
		float: none;
		position: relative;
		left: 0px;
		height: 15px;
		a {
			padding-top: 0px;
			margin-top: .75em;
		}
		a::after {
  		content: '';
  		position: absolute;
  		bottom: -5px;
  		left: 0;
  		width: 100%;
  		height: 1px;
  		transform: scaleX(0);
  		background-color: $theme-color;
  		transition: all 0.5s ease;
  		}
		}
}

/* end .nav */

.chapter-title {
	padding-left: 25%;
}
.sidebar-title {
	padding-left: 10%;
}

.title-circle {
	display: table-cell;
	width: 200px;
	height: 200px;
	border: dotted 2px $text-color;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
}

/*********************
WELCOME STYLES
*********************/
.welcome {
	background: url(../images/top.png) no-repeat left top;
	background-size: 100% auto;
	background-attachment: scroll;
	z-index: 0;
	section {
		font-family: Consolas, monospace;
		.w-title {
			margin: 0;
			@include font-size(32);
			opacity: 0;
			span {
				opacity: 0;
			}
		}
		.w-main {
			margin: 10px 0;
			@include font-size(38);
			opacity: 0;
			border-color: transparent;
			transition: border-color 0.8s ease-in;
			span {
				opacity: 0;
			}
		}
		.w-desc {
			@include font-size(24);
			line-height: 26px;
			opacity: 0;
			span {
				opacity: 0;
			}
		}
		a>h3 {
			display: inline-block;
			-webkit-transition: all 0.3s;
		}
		a>h3:hover, a>h3:active {
			color: $text-color;
			background-color: $white;
		}
	}
}

.plz-scroll {
	position: absolute;
	bottom: 50px;
	left: 0;
	right: 0;
	width: 60px;
	height: 60px;
	margin: auto;
	color: $white;
	cursor: pointer;
	transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  &:hover {
  	transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}


input[type="submit"], #more>a {
	-webkit-transition: all 0.3s;
}
input[type="submit"]:hover, input[type="submit"]:active, #more>a:hover, #more>a:active {
	color: $white;
	background-color: $text-color;
}

.something {
	background-color: $black;
	height: 60px;
	width: 100%;
}

.entry-title, .live-title {
	margin: 5px 0 !important;
	a {
		@include font-size(24);
		padding: 3px 0px;
		transition: all 0.3s ease-in-out;
		&:hover, &:active {
			color: $white;
			background-color: $link-color;
			border-radius: 6px;
		}
	}
}

.live-list .live-info-img img {
	width: 50%;
}
.discography .discography-img img {
	width: 50%;
}
.video section .entry-title {
	margin-top: 2.5rem !important;
}
.artist-img-wrapper {
	text-align: center;
	.artist-img {
		width: 70%;
	}
}
.biography, .topnews {
	color: $text-pc-color;
}
.post-type-wrapper {
	color: $sidebar-color;
	border-color: $sidebar-color;
}

#post-not-found {
	section.entry-content p {
		margin: 2rem;
		@include font-size(16);
	} 
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	// width: 300px;
	// float: right;
	color: $sidebar_color;
	.chapter-title, .title-circle {
		border-color: $sidebar_color !important;
		color: $sidebar_color;
	}
}

.my_calendar {
	padding: 20px;
}

.wp-calendar {
	width: 80%;
	margin: 30px auto 20px;
	text-align: center;
	caption {
		@include font-size(20);
		margin-bottom: 1rem;
	}
}
.next-calendar {
	margin-top: 50px;
}

.calendar-post {
	position: relative;
	margin-bottom: 20px;
	text-align: center;
	.viewmore{
		float: right;
	}
	span.calendar-img {
		width: 80%;
		height: 100px;
		background-size: cover;
		background-position: top center;
    background-repeat: no-repeat;
    display: inline-block;
	}
	a {
		transition: all 0.3s ease-in-out;
		position: absolute;
		bottom: 6px;
		right: 0;
		left: 0;
		width: 80%;
		height: 35px;
		z-index: 10;
		background-color: black(0.8);
		margin: auto;
		text-align: left;
		padding: 5px;
	}
}
/* カレンダー comemo-theme-twenty-eleven rev.0.1 */
.wp-calendar th, .wp-calendar tfoot td {
    border: none;
    background: none;
}
.wp-calendar td, .wp-calendar th {
    width: 14%;
}
.wp-calendar td.past-day {
		color: $text-color;
}
#today {
}
.wp-calendar tbody td a, .wp-calendar tbody td a:visited {
    background-color: $theme-color;
    border-radius: 12px 12px 12px 12px;
    color: $white;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin: 1px;
    vertical-align: middle;
    width: 24px;
}
 
.wp-calendar tbody td a:hover {
    background-color: $theme-color;
    color: $theme-color;
}

.calendar-post-selected {
		a {			
		height: 100px;
		}
		p.calendar-post-title {
			opacity: 1;
		}
}
.calendar-post-title {
	transition: all 0.3s ease-in-out;
	opacity: 0;
	margin: 0px;
}

/****** twitter **********/

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	.wp-calendar tr td {}
	.wp-calendar caption {}
	.wp-calendar a {}
	.wp-calendar #today {}
	.wp-calendar #prev {}
	.wp-calendar #next {}
	.wp-calendar #next a {}
	.wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}

/*********************
FOLLOW ME
*********************/
.first-followme {
	z-index: 10;
	.followme {
		z-index: 10;
		background-color: transparent !important;
		position: absolute;
		top: 20px;
		right: 70px;
		li {
			z-index: 10;
			width: 100px;
		}
	}
}
.followme .sns-icon{
	display: inline-block;
	position: relative;
	-webkit-perspective: 300px;
	-moz-perspective: 300px;
	-o-perspective: 300px;
	-ms-perspective: 300px;
	width: 100px;
	span {
		width: 100px;
		padding: 5px 0;
		text-align: center;
    display: inline-block;
    position:absolute;
    top: 0;
    margin-top: -20px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    transition: all 0.8s ease-in-out;
	}
	.back {
    transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    top: 5px;
	} 
	&:hover .front {
    transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
	}
	&:hover .back {
    transform:rotateY(360deg);
    -webkit-transform:rotateY(360deg);
    -moz-transform:rotateY(360deg);
    -o-transform:rotateY(360deg);
    -ms-transform:rotateY(360deg);
	}
}


/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

